@model IList<BundesligaWeb.Services.NewsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-left:55px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href=@Model[0].Link>
                    <img src=@Model[0].ImageSrc alt="News Photo" class="img-responsive" style="width:1200px;height:600px" />
                </a>
                <div class="carousel-caption" role="option">
                    <h2>
                        @Model[0].Title
                    </h2>

                </div>
            </div>
            <div class="item">
                <a href=@Model[1].Link>
                    <img src=@Model[1].ImageSrc alt="News Photo" class="img-responsive" style="width:1200px;height:600px" />
                </a>
                <div class="carousel-caption" role="option">
                    <h2>
                        @Model[1].Title
                    </h2>
                </div>
            </div>
            <div class="item">
                <a href=@Model[2].Link>
                    <img src=@Model[2].ImageSrc alt="Germany Nationl Team" class="img-responsive" style="width:1200px;height:600px" />
                </a>
                <div class="carousel-caption" role="option">
                    <h2>
                        @Model[2].Title
                    </h2>
                </div>
            </div>
            <div class="item">
                <a href=@Model[3].Link>
                    <img src=@Model[3].ImageSrc alt="Microsoft Azure" class="img-responsive" style="width:1200px;height:600px" />
                </a>
                <div class="carousel-caption" role="option">
                    <h2>
                        @Model[3].Title
                    </h2>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div style="padding-top:10px">
    <div class="flex-container">
        <ul class="news-list" style="list-style-type:none">
            <li class="col-lg-6">
                <a href=@Model[4].Link>
                    <img src=@Model[4].ImageSrc alt="Dortmund new signing" style="width:536px;height:276px" />
                    <h3>@Model[4].Title</h3>
                </a>

            </li>
            <li class="col-lg-6">
                <a href=@Model[5].Link>
                    <img src=@Model[5].ImageSrc alt="Gladbach new signing" style="width:536px;height:276px;" />
                    <h3>@Model[5].Title</h3>
                </a>
            </li>
        </ul>
    </div>
    <div class="flex-container">
        <ul style="list-style-type:none">
            <li class="col-lg-4">
                <a href=@Model[6].Link>
                    <img src=@Model[6].ImageSrc alt="Stutgart school" style="width:353px;height:176px" />
                    <h3>@Model[6].Title</h3>
                </a>

            </li>
            <li class="col-lg-4">
                <a href=@Model[7].Link>
                    <img src=@Model[7].ImageSrc alt="Werder U21 history" style="width:353px;height:176px" />
                    <h3>@Model[7].Title</h3>
                </a>

            </li>
            <li class="col-lg-4 ">
                <a href=@Model[8].Link>
                    <img src=@Model[8].ImageSrc alt="Divok Origi" style="width:353px;height:176px" />
                    <h3>@Model[8].Title</h3>
            </a>

        </li>

    </ul>

</div>
</div>


